@import url("icon/css/icon.css");
@import url("icon/css/animation.css");

fox-listview {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.fox-listview-pulltorefresh {
	position: absolute;
	left: 0;
	right: 0;
	top: -9999px;
	height: 65px;
	line-height: 65px;
	text-align: center;
}

.fox-listview-pulltorefresh i:before {
	font-size: 20px;
}
.fox-listview-pulltorefresh .icon-loading {
	display: none;
}
.fox-listview-pulltorefresh .pulltorefresh-state-0 .icon-loading {
	display: none;
}

.fox-listview-pulltorefresh .pulltorefresh-state-0 .icon-indicator {
	display: inline-block;
}
.fox-listview-pulltorefresh label:after{
	content: "下拉刷新...";
}
.fox-listview-pulltorefresh .pulltorefresh-state-1 label:after{
	content: "放开以刷新...";
}
.fox-listview-pulltorefresh .pulltorefresh-state-loading label:after{
	content: "正在载入...";
}
.fox-listview-pulltorefresh .icon-indicator:before {
	
	-webkit-transition: all 0.5s linear;
	-webkit-transform: rotate(0deg);
}
.fox-listview-pulltorefresh .pulltorefresh-state-1 .icon-indicator:before {
	-webkit-transform: rotate(180deg);
}
.fox-listview-pulltorefresh .pulltorefresh-state-loading .icon-loading {
	display: inline-block;
}

.fox-listview-pulltorefresh .pulltorefresh-state-loading .icon-indicator {
	display: none;
}